.container {
    background-color: azure;
    display: flex;
    gap: 10px;
}

.green {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 300px;
    margin: 5px;
    ;
}

.minibox {
    background-color: chartreuse;
    width: 100px;
    height: 100px;
}

.purple {
    background-color: purple;
    position: absolute;
    height: 250px;
    width: 250px;
    bottom: 0;
    right: 0;
}

.box1 {
    background-color: black;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    left: 0;
}

.box2 {
    background-color: black;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 0;
    left: -20px;
}