.bigbox {
    background-color: lightskyblue;
    position: absolute;
    height: 500px;
    width: 500px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue {
    background-color: blue;
    height: 100px;
    width: 100px;
}

.purple {
    background-color: purple;
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: -30px;
    right: -30px;
}

.hiddenbox {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;

}

.green {
    background-color: darkseagreen;
    position: relative;
    height: 270px;
    width: 200px;
    margin: 10px;
}

.pink {
    background-color: lightpink;
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 0;
    left: 0;
}